#ANN with MLFLOW

#Installing MLflow 
#Loging and registered with MLFLOW 
#Loading a loged model for inferencing using MLFLOW pyfunc flavor 
#Viewing the MLFLOW the experinmenting result in the MLflow UI   
#compare runs, choose model, deploy it to a REST API 
#Run Hypermeter sweep on training script 
#Compare the results of the run in the MLFLOW UI 
#Choose the Best Model to a REST API 
#Build A container image suitable for deployment to a cloud platform

In [2]:

import pandas as pd
import numpy as np
import keras 
from hyperopt import STATUS_OK, Trials,fmin,hp,tpe
from sklearn.metrics import mean_squared_error
from sklearn.model_selection import train_test_split

import mlflow
from mlflow.models import infer_signature

d:\DropBox Files\Dropbox\Python coding-1\MLOps\venv\lib\site-packages\hyperopt\atpe.py:19: UserWarning: pkg_resources is deprecated as an API. See https://setuptools.pypa.io/en/latest/pkg_resources.html. The pkg_resources package is slated for removal as early as 2025-11-30. Refrain from using this package or pin to Setuptools<81.
  import pkg_resources

In [5]:
## load raw dataset
data=pd.read_csv(
    "https://archive.ics.uci.edu/ml/machine-learning-databases/wine-quality/winequality-white.csv",
    sep=";", 
)

In [6]:
data

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.00100,3.00,0.45,8.8,6
1,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.99400,3.30,0.49,9.5,6
2,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.99510,3.26,0.44,10.1,6
3,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
4,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.99560,3.19,0.40,9.9,6
...,...,...,...,...,...,...,...,...,...,...,...,...
4893,6.2,0.21,0.29,1.6,0.039,24.0,92.0,0.99114,3.27,0.50,11.2,6
4894,6.6,0.32,0.36,8.0,0.047,57.0,168.0,0.99490,3.15,0.46,9.6,5
4895,6.5,0.24,0.19,1.2,0.041,30.0,111.0,0.99254,2.99,0.46,9.4,6
4896,5.5,0.29,0.30,1.1,0.022,20.0,110.0,0.98869,3.34,0.38,12.8,7
4897,6.0,0.21,0.38,0.8,0.020,22.0,98.0,0.98941,3.26,0.32,11.8,6

In [8]:
# split data into training and validation and test sets
train,test = train_test_split(data, test_size = 0.25, random_state=42)

In [24]:
train["quality"].values.ravel()

array([6, 6, 5, ..., 6, 6, 8], shape=(3673,))

In [ ]:

train_x=train.drop(["quality"], axis=1).values

train_y=train[["quality"]].values.ravel()

# Validation data set
test_x=test.drop(["quality"], axis=1).values
test_y=test["quality"].values.ravel() 

# splitting this train into train and validation

train_x, valid_x, train_y, valid_y = train_test_split(train_x, train_y, test_size = 0.20, random_state=42)
signature = infer_signature(train_x, train_y)

In [ ]:
## ANN Model